body {
  margin: 0;
  padding: 0;
}

.unloaded {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 30vh; */
}

.unloaded p {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.dropdown-menu {
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.navbar-brand {
  cursor: pointer;
}

.navbar-button-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
}

.navbar-button-block p {
  text-align: center;
  margin: 0 15px 0 0;
}

.recipeContainer {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 40px;
}

.recipeContainer ul {
  margin-top: 50px;
}

.recipeContainer p {
  margin-top: 30px;
  margin-right: 30px;
}

.instructions {
  width: 50vw;
  margin-right: 40px;
}

.media {
  display: flex;
  flex-direction: column;
}

.media img {
  width: 560px;
}

.video-div {
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
}

footer {
  margin-left: 40px;
}

.mobile {
  display: none;
}

@media (max-width: 900px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: inline;
  }
  /* 
  .unloaded {
    margin-top: 25vh;
  } */
  .unloaded h1,
  p {
    text-align: center;
  }

  .recipeContainer {
    flex-direction: column;
  }

  .instructions {
    width: 80vw;
  }

  .instructions p {
    text-align: left;
  }

  .video-div {
    margin-left: 30px;
    margin-right: 30px;
  }

  footer p {
    text-align: left;
  }
}

@media (max-width: 550px) {
  .unloaded h1 {
    font-size: 3em;
  }
  .unloaded p {
    font-size: 1em;
  }
}
