html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.unloaded {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unloaded p {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.dropdown-menu {
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

#navHeader {
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  color: rgb(41, 43, 44);
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  height: 37.6px;
  line-height: 30px;
  margin-right: 16px;
  padding-bottom: 4px;
  padding-top: 4px;
  text-decoration-color: rgb(41, 43, 44);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-size-adjust: 100%;
  touch-action: manipulation;
  white-space: nowrap;
  -webkit-box-direction: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navbar-button-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
}

.navbar-button-block p {
  text-align: center;
  margin: 0 15px 0 0;
}

#auth-buttons {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#resetPassword {
  text-align: right;
  cursor: pointer;
  color: red;
}

#signinButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.loggedout {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#dropdownMenuButtonSignUp {
  margin-left: 5px;
}

#account {
  margin-left: 5px;
}

.dropdown-menu-right {
  min-width: 15rem;
}

.recipeContainer {
  width: 95%;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 40px;
}

.recipeContainer ul {
  margin-top: 50px;
}

.recipeContainer p {
  margin-top: 30px;
  margin-right: 30px;
}

.instructions {
  width: 50vw;
  margin-right: 20px;
}

.media {
  display: flex;
  flex-direction: column;
}

#favButton {
  margin-top: 10px;
}

.video-div {
  width: 95%;
}

.media img {
  width: 560px;
}

.video-div {
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
}

footer {
  margin-left: 40px;
}

.mobile {
  display: none;
}

#account-content {
  margin-top: 60px;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: row;
}

#fav-list {
  width: 540px;
}

.card-img {
  cursor: pointer;
}

@media (max-width: 900px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: inline;
  }

  .display-3 {
    text-align: center;
  }

  #unloaded-p {
    text-align: center;
  }

  .recipeContainer {
    flex-direction: column;
  }

  .instructions {
    width: 80vw;
  }

  #listFavButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #favButton {
    margin-top: 50px;
  }

  .instructions p {
    text-align: left;
  }

  .video-div {
    margin-left: 30px;
    margin-right: 30px;
  }

  footer p {
    text-align: left;
  }
  #account-content {
    display: flex;
    flex-direction: column;
  }
  #fav-list {
    width: 90vw;
    margin-right: 16px;
  }
  .accordion-card {
    margin-top: 10px;
  }
  .accordion-card > .card-header {
    background-color: white;
    display: flex;
    flex-direction: row;
  }
  .card-header-container2 {
    margin-left: 10px;
  }
  .card-header-container2 > .close,
  .card-text {
    align-self: end;
  }
}

@media (max-width: 550px) {
  .unloaded h1 {
    font-size: 3em;
  }
  .unloaded p {
    font-size: 1em;
  }
}
